{% load django_bootstrap5 %}

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <title>人事労務くん</title>

        <!-- Bootstrap CSS（Djangoで自動挿入）-->
        {% bootstrap_css %}

        <!-- カスタムCSSファイル -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Bootstrap JS（Djangoで自動挿入）-->
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'hr_assist:index' %}">人事労務くん</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:register_employee' %}">従業員登録</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:employees' %}">従業員一覧</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:insight' %}">インサイト</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'users:register' %}">登録</a>
                                </li>
                                <li class="nav-item-logout">
                                    <form method="post" action="{% url 'users:logout' %}">
                                        {% csrf_token %}
                                        <button name="submit">ログアウト</button>
                                    </form>
                                </li>
                            </ul>
                        <div>
                    {% else %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'hr_assist:index' %}">人事労務くん</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:employee' emp_id=request.user.username|add:'0' %}">従業員情報</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:salary' emp_id=request.user.username|add:'0' paymonth=this_month %}">給与明細</a>
                                </li>
                                <li class="nav-item">
                                    <form method="post" action="{% url 'users:logout' %}">
                                        {% csrf_token %}
                                        <button name="submit">ログアウト</button>
                                    </form>
                                </li>
                            </ul>
                        <div>
                    {% endif %}
                {% else %}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'hr_assist:index' %}">人事労務くん</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}">ログイン</a>
                            </li>
                        </ul>
                    <div>
                {% endif %}
            </div>
        </nav>

        <main role="main" class="container">
            <div class="pb-2 mb-2">
                {% block page_header %} {% endblock page_header %}
            </div>
                {% if user.is_authenticated %}
                    <p>
                        ようこそ　{{ user.username }} 様
                    </p>
                {% endif %}
            <div>
                {% block content %} {% endblock content %}
            </div>
        </main>
        
    </body>
</html>

<!--{% if user.is_authenticated %}
    {% if user.is_staff %}
        <p>
            <a href="{% url 'hr_assist:index' %}">人事労務くん</a>
            <a href="{% url 'hr_assist:register_employee' %}">従業員登録</a>
            <a href="{% url 'hr_assist:employees' %}">従業員一覧</a>
            <a href="{% url 'hr_assist:insight' %}">インサイト</a>
            <a href="{% url 'users:register' %}">登録</a>
            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button name="submit">ログアウト</button>
            </form>
        </p>
        <p>
            ようこそ　{{ user.username }} 様
        <p>
    {% else %}
        <p>
            <a href="{% url 'hr_assist:index' %}">人事労務くん</a>
            <a href="{% url 'hr_assist:employee' emp_id=request.user.username|add:'0' %}">従業員情報</a>
            <a href="{% url 'hr_assist:salary' emp_id=request.user.username|add:'0' paymonth=this_month %}">給与明細</a>
            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button name="submit">ログアウト</button>
            </form>
        </p>
        <p>
            ようこそ　{{ user.username }} 様
        <p>
    {% endif %}
{% else %}
    <p>
        <a href="{% url 'hr_assist:index' %}">人事労務くん</a>
        <a href="{% url 'users:login' %}">ログイン</a>
    </p>
{% endif %}


-->