{% load django_bootstrap5 %}
{% load static %}

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <title>人事労務くん</title>

        <!-- Bootstrap CSS（Djangoで自動挿入）-->
        {% bootstrap_css %}

        <!-- カスタムCSSファイル -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Bootstrap JS（Djangoで自動挿入）-->
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'hr_assist:index' %}">人事労務くん</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:register_employee' %}">従業員登録</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:employees' %}">従業員一覧</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:insight' %}">インサイト</a>
                                </li>
                            </ul>
                        <div>
                        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-button-user-register ms-3"> 
                                <form method="post" action="{% url 'users:register' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">登録</button>
                                </form>
                            </li>
                            <li class="nav-button-logout ms-3">
                                <form method="post" action="{% url 'users:logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">ログアウト</button>
                                </form>
                            </li>
                        </div>
                    {% else %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'hr_assist:index' %}">人事労務くん</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:employee' emp_id=request.user.username|add:'0' %}">従業員情報</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'hr_assist:salary' emp_id=request.user.username|add:'0' paymonth=this_month %}">給与明細</a>
                                </li>
                            </ul>
                        <div>
                        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-button-logout ms-3">
                                <form method="post" action="{% url 'users:logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">ログアウト</button>
                                </form>
                            </li>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'hr_assist:index' %}">人事労務くん</a>
                            </li>
                        </ul>
                    <div>
                    <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-button-login ms-3">
                            <form method="post" action="{% url 'users:login' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">ログイン</button>
                            </form>
                        </li>
                    </div>
                {% endif %}
            </div>
        </nav>

        <main role="main" class="container">
            {% if user.is_authenticated %}
                    <p class="hello">
                        ようこそ　{{ user.username }} 様
                    </p>
            {% endif %}
            <div class="pb-2 mb-2">
                {% block page_header %} {% endblock page_header %}
            </div>
            <div>
                {% block content %} {% endblock content %}
            </div>
        </main>
        
    </body>
</html>