{% extends "hr_assist/base.html" %}
{% load django_bootstrap5 %}

{% block page_header%}
    <h4>ログイン</h4>
    <hr>
{% endblock page_header %}

{% block content %}

    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% block buttons %}
            <button name="submit" class="btn btn-primary">ログイン</button>
        {% endblock buttons %}

        <input type="hidden" name="next" 
            value="{% url 'hr_assist:index' %}" />
    </form>

{% endblock content %}